.css_staff_id_det_label, .css_staff_id_det_label:hover {text-align: right;vertical-align: middle;}
.css_staff_id_det_line, .css_staff_id_det_line:hover {height:0px;text-align: right;}
.css_staff_name_det_label, .css_staff_name_det_label:hover {text-align: right;vertical-align: middle;}
.css_staff_name_det_line, .css_staff_name_det_line:hover {height:0px;text-align: right;}
.css_staff_email_det_label, .css_staff_email_det_label:hover {text-align: right;vertical-align: middle;}
.css_staff_email_det_line, .css_staff_email_det_line:hover {height:0px;text-align: right;}
.css_staff_phone_det_label, .css_staff_phone_det_label:hover {text-align: right;vertical-align: middle;}
.css_staff_phone_det_line, .css_staff_phone_det_line:hover {height:0px;text-align: right;}
