.css_NM_Count_cnt_field, .css_NM_Count_cnt_field:hover {text-align: right}
.css_appointment_rating_avg_label, .css_appointment_rating_avg_label:hover {text-align: right; vertical-align: top}
.css_appointment_rating_avg_field, .css_appointment_rating_avg_field:hover {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_label, .css___nm_count_nm___cnt_label:hover {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_field, .css___nm_count_nm___cnt_field:hover {text-align: right; vertical-align: top}
