.css_appointments_type_id__label {text-align:right;}
.css_appointments_type_id__line {text-align:right;}
.css_appointments_type_id__obj {text-align:left;}
.css_description__label { }
.css_description__line { }
.css_description__obj { }
.css_duration_displayed__label { }
.css_duration_displayed__line {text-align:left;}
.css_duration_displayed__obj {text-align:left;}
.css_duration_type__label { }
.css_duration_type__line { }
.css_duration_type__obj { }
.css_duration__label {text-align:right;}
.css_duration__line {text-align:right;}
.css_duration__obj {text-align:left;}
.css_price__label {text-align:right;}
.css_price__line {text-align:right;}
.css_price__obj {text-align:left;}
.css_activated__label { }
.css_activated__line { }
.css_activated__obj { }
