.css_customers_name_label, .css_customers_name_label:hover {text-align:left;}
.css_customers_name_grid_line, .css_customers_name_grid_line:hover {vertical-align: top;}
.css_customers_phone_label, .css_customers_phone_label:hover {text-align:left;}
.css_customers_phone_grid_line, .css_customers_phone_grid_line:hover {vertical-align: top;}
.css_customers_email_label, .css_customers_email_label:hover {text-align:left;}
.css_customers_email_grid_line, .css_customers_email_grid_line:hover {vertical-align: top;}
.css_blk_2, .css_blk_2:hover {}
.css_customers_country_label, .css_customers_country_label:hover {text-align:left;}
.css_customers_country_grid_line, .css_customers_country_grid_line:hover {vertical-align: top;}
.css_customers_address_label, .css_customers_address_label:hover {text-align:left;}
.css_customers_address_grid_line, .css_customers_address_grid_line:hover {vertical-align: top;}
.css_customers_state_label, .css_customers_state_label:hover {text-align:left;}
.css_customers_state_grid_line, .css_customers_state_grid_line:hover {vertical-align: top;}
.css_customers_city_label, .css_customers_city_label:hover {text-align:left;}
.css_customers_city_grid_line, .css_customers_city_grid_line:hover {vertical-align: top;}
.css_customers_zip_label, .css_customers_zip_label:hover {text-align:left;}
.css_customers_zip_grid_line, .css_customers_zip_grid_line:hover {vertical-align: top;}
