.css_week_day__label {text-align:right;}
.css_week_day__line {text-align:right;}
.css_week_day__obj {text-align:left;}
.css_start_time__label { }
.css_start_time__line { }
.css_start_time__obj { }
.css_end_time__label { }
.css_end_time__line { }
.css_end_time__obj { }
