.css_customers_id_label { }
.css_customers_id_line {text-align:left;}
.css_customers_id_obj {text-align:left;}
.css_price_label { }
.css_price_line {text-align:left;}
.css_price_obj {text-align:left;}
.css_additional_charges_label { }
.css_additional_charges_line {text-align:left;}
.css_additional_charges_obj {text-align:left;}
.css_discount_label { }
.css_discount_line {text-align:left;}
.css_discount_obj {text-align:left;}
.css_total_price_label { }
.css_total_price_line {text-align:left;}
.css_total_price_obj {text-align:left;}
.css_appointment_start_date_label { }
.css_appointment_start_date_line { }
.css_appointment_start_date_obj { }
.css_appointment_start_time_label { }
.css_appointment_start_time_line { }
.css_appointment_start_time_obj { }
.css_current_status_id_label { }
.css_current_status_id_line {text-align:left;}
.css_current_status_id_obj {text-align:left;}
