.css_blk_0, .css_blk_0:hover {}
.css_appointments_id_label, .css_appointments_id_label:hover {text-align:left;}
.css_appointments_id_grid_line, .css_appointments_id_grid_line:hover {vertical-align: top;}
.css_current_status_id_label, .css_current_status_id_label:hover {text-align:left;}
.css_current_status_id_grid_line, .css_current_status_id_grid_line:hover {vertical-align: top;}
.css_staff_id_label, .css_staff_id_label:hover {text-align:left;}
.css_staff_id_grid_line, .css_staff_id_grid_line:hover {vertical-align: top;}
.css_customers_id_label, .css_customers_id_label:hover {text-align:left;}
.css_customers_id_grid_line, .css_customers_id_grid_line:hover {vertical-align: top;}
.css_price_label, .css_price_label:hover {text-align:left;}
.css_price_grid_line, .css_price_grid_line:hover {vertical-align: top;}
.css_additional_charges_label, .css_additional_charges_label:hover {text-align:left;}
.css_additional_charges_grid_line, .css_additional_charges_grid_line:hover {vertical-align: top;}
.css_discount_label, .css_discount_label:hover {text-align:left;}
.css_discount_grid_line, .css_discount_grid_line:hover {vertical-align: top;}
.css_total_price_label, .css_total_price_label:hover {text-align:left;}
.css_total_price_grid_line, .css_total_price_grid_line:hover {vertical-align: top;}
.css_appointment_start_date_label, .css_appointment_start_date_label:hover {text-align:left;}
.css_appointment_start_date_grid_line, .css_appointment_start_date_grid_line:hover {vertical-align: top;}
.css_appointment_start_time_label, .css_appointment_start_time_label:hover {text-align:left;}
.css_appointment_start_time_grid_line, .css_appointment_start_time_grid_line:hover {vertical-align: top;}
