.css_appointment_details_id__label {text-align:right;}
.css_appointment_details_id__line {text-align:right;}
.css_appointment_details_id__obj {text-align:left;}
.css_appointments_type_id__label {text-align:right;}
.css_appointments_type_id__line {text-align:right;}
.css_appointments_type_id__obj {text-align:left;}
.css_duration__label { }
.css_duration__line { }
.css_duration__obj { }
.css_price__label { }
.css_price__line { }
.css_price__obj { }
