.css_customers_id_det_label, .css_customers_id_det_label:hover {text-align: right;vertical-align: middle;}
.css_customers_id_det_line, .css_customers_id_det_line:hover {height:0px;text-align: right;}
.css_customers_name_det_label, .css_customers_name_det_label:hover {text-align: right;vertical-align: middle;}
.css_customers_name_det_line, .css_customers_name_det_line:hover {height:0px;text-align: right;}
.css_customers_email_det_label, .css_customers_email_det_label:hover {text-align: right;vertical-align: middle;}
.css_customers_email_det_line, .css_customers_email_det_line:hover {height:0px;text-align: right;}
.css_customers_phone_det_label, .css_customers_phone_det_label:hover {text-align: right;vertical-align: middle;}
.css_customers_phone_det_line, .css_customers_phone_det_line:hover {height:0px;text-align: right;}
.css_customers_address_det_label, .css_customers_address_det_label:hover {text-align: right;vertical-align: middle;}
.css_customers_address_det_line, .css_customers_address_det_line:hover {height:0px;text-align: right;}
.css_customers_city_det_label, .css_customers_city_det_label:hover {text-align: right;vertical-align: middle;}
.css_customers_city_det_line, .css_customers_city_det_line:hover {height:0px;text-align: right;}
.css_customers_state_det_label, .css_customers_state_det_label:hover {text-align: right;vertical-align: middle;}
.css_customers_state_det_line, .css_customers_state_det_line:hover {height:0px;text-align: right;}
.css_customers_country_det_label, .css_customers_country_det_label:hover {text-align: right;vertical-align: middle;}
.css_customers_country_det_line, .css_customers_country_det_line:hover {height:0px;text-align: right;}
.css_customers_zip_det_label, .css_customers_zip_det_label:hover {text-align: right;vertical-align: middle;}
.css_customers_zip_det_line, .css_customers_zip_det_line:hover {height:0px;text-align: right;}
