.css_description_label, .css_description_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_description_grid_line, .css_description_grid_line:hover {vertical-align: top;text-align: left;}
.css_price_label, .css_price_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_price_grid_line, .css_price_grid_line:hover {vertical-align: top;text-align: right;}
.css_appointments_type_id_label, .css_appointments_type_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_appointments_type_id_grid_line, .css_appointments_type_id_grid_line:hover {vertical-align: top;text-align: right;}
.css_duration_label, .css_duration_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_duration_grid_line, .css_duration_grid_line:hover {vertical-align: top;text-align: right;}
.css_activated_label, .css_activated_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_activated_grid_line, .css_activated_grid_line:hover {vertical-align: top;text-align: left;}
