.css_total_price_label { }
.css_total_price_line {text-align:left;}
.css_total_price_obj {text-align:left;}
.css_appointment_start_date_label { }
.css_appointment_start_date_line { }
.css_appointment_start_date_obj { }
.css_appointment_start_time_label { }
.css_appointment_start_time_line { }
.css_appointment_start_time_obj { }
.css_appointment_end_date_label { }
.css_appointment_end_date_line { }
.css_appointment_end_date_obj { }
.css_appointment_end_time_label { }
.css_appointment_end_time_line { }
.css_appointment_end_time_obj { }
.css_services_label { }
.css_services_line { }
.css_services_obj { }
.css_dayofweek_label { }
.css_dayofweek_line { }
.css_dayofweek_obj {text-align:right;}
