.css_id_worktime__label {text-align:right;}
.css_id_worktime__line {text-align:left;}
.css_id_worktime__obj {text-align:left;}
.css_worktime_time__label { }
.css_worktime_time__line { }
.css_worktime_time__obj { }
